body {
  margin: 0;

  p {
    font-family: Arial, sans-serif;
  }

  #app {
    .layer {
      position: absolute;
      top: 0;
      color: white;
      font-size: 60px;
      padding: 20px;
    }

    .video-full {
      width: 100%;
    }
  }
}